@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.5rem;
  background-color: hsl(212, 45%, 89%);
  font-family: "Roboto", sans-serif;
}

.card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 430px;
  width: 280px;
  background-color: hsl(0, 0%, 100%);
  padding: 1em;
  border-radius: 1em;
}

.card-main img {
  width: 100%;
  border-radius: 0.7em;
  margin: auto;
  text-align: center;
  display: inline;
}

.card-foot {
  text-align: center;
  padding: 1rem;
}

.foot-title {
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 1rem;
  color: hsl(218, 44%, 22%);
}

.foot-text {
  color: hsl(220, 15%, 55%);
}
